
<!-- row -->
<div class="row">
	<!-- section-title -->
	<div class="col-md-12">
		<div class="section-title">
			<h2 class="title">Deals Of The Day</h2>
			<div class="pull-right">
				<div class="product-slick-dots-1 custom-dots"></div>
			</div>
		</div>
	</div>
	<!-- /section-title -->

	<!-- banner -->
	<div class="col-md-3 col-sm-6 col-xs-6">
		<div class="banner banner-2">
			<img src="{{asset('./img/banner14.jpg')}}" alt="">
			<div class="banner-caption">
				<h2 class="white-color">
					NEW<br>COLLECTION
				</h2>
				<button class="primary-btn">Shop Now</button>
			</div>
		</div>
	</div>
	<!-- /banner -->

	<!-- Product Slick -->
	<div class="col-md-9 col-sm-6 col-xs-6">
		<div class="row">
			<div id="product-slick-1" class="product-slick">
				<!-- Product Single -->

				{% if dealsoftheday is defined %}
				{% for product in
        				dealsoftheday %}
					{% include './index/product_single.html.twig' with {'product':product} %}
				{% endfor %}
				{% endif %}

				<!-- /Product Single -->
			</div>
		</div>
	</div>
	<!-- /Product Slick -->
</div>
<!-- /row -->

